@page
@using Acme.ProductApp.Localization
@using Acme.ProductApp.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<ProductAppResource> L
@section styles {
    <abp-style src="/Pages/Products/Index.css" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Update"]</abp-card-title>
            </abp-column>

        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <form method="post" asp-page="EditModal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <abp-input type="hidden" asp-for="@Model.Product.Picture" />
            <abp-input asp-for="@Model.Product.Id" type="hidden" />
            <abp-input asp-for="@Model.Product.Title" />
            <abp-input asp-for="@Model.Product.Description" />
            <abp-input asp-for="@Model.Product.Price" />
            <abp-select asp-for="@Model.Product.CategoryId" />
            <div class="image-upload">
                <label for="file-input">
                    @if (@Model.Product.Picture == null)
                    {
                        <img src="~/Files/Photos/download.png" id="Picture" alt="product" width="200" height="200" />
                    }
                    else
                    {
                        <a href="~/Files/Photos/@Model.Product.Picture"><i class="fa fa-download" aria-hidden="true"></i></a><br />
                        <img src="~/Files/Photos/@Model.Product.Picture" id="Picture" alt="product" width="200" height="200" />
                    }
                </label>

                <input type="file" asp-for="@Model.Product.PictureUrl"
                       accept="image/*"
                       id="file-input"
                       class="input"
                       onchange="document.getElementById('Picture').src = window.URL.createObjectURL(this.files[0])  " />

            </div>
            <div class="form-group">
                <input type="submit" value="@L["Edit"]" class="btn btn-primary" />
                <a class="btn btn-danger" asp-page="Index">@L["Back"].Value</a>

            </div>
        </form>
    </abp-card-body>

</abp-card>
